<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" href="StyleSheet.css">
    <title>Reset Order</title>
</head>
<body>
    <!-- Header -->
    <div id="header-logo"></div>

    <!-- New Order-->
    <div class="container1" style="margin-top: 50px;">
        <h2 style="margin-bottom: 0;">Create a new order</h2>
        <span id="invalid" class="error"></span>
        <p th:text="'You already started an order with ' + ${restaurant} + '.'">You already started an order with another restaurant.</p>
        <p>Would you like to start a new order?</p>
        <form method="post">
        <a onclick="$('form').submit()" class="btn">Start New Order</a><br /><br />
        <a href="/cart" class="btn">View Cart</a>
        </form>
    </div>

    <!-- Footer -->
    <div id="footer" style="bottom: 0; position: absolute; width: 99%"></div>

</body>

</html>