<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="StyleSheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bb8c0a0493.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <title>Restaurant Info</title>
</head>
<bod>
    <div style="display: grid; grid-template-columns: 250px auto;">
        <div id="r-nav"></div>
        <div>
            <div class="r-title bg-blue">
                <h2>Restaurant Information</h2>
            </div>
            <div  class="r-page">
            <span id="invalid" class="error"></span>
            <form style="padding-top: 20px;" action="#" th:action="@{/restaurant-info}" th:object="${restaurant}" method="post">
                <div>
                    <label>Name</label><br />
                    <input th:field="*{name}" type="text" />
                </div>
                <br />
                <div>
                    <label>Address</label><br />
                    <input th:field="*{street}" type="text" placeholder="address" />
                    <div style="width: 40%; display: inline-block">
                        <input th:field="*{city}" type="text" placeholder="city"/>
                    </div>
                    <div style="width: 25%; display: inline-block">
                        <input th:field="*{state}" type="text" placeholder="state"/>
                    </div>
                    <div style="width: 30%; display: inline-block">
                        <input th:field="*{zipcode}" type="text" placeholder="zipcode"/>
                    </div>
                </div>
                <br />
                <div>
                    <label>Cuisine</label><br />
                    <input th:field="*{cuisines}" type="text" />
                    <p class="subtext">The type of food your serve. Please separate each entry with a comma</p>
                </div>
                <br />
                <div>
                    <label>Image</label><br />
                    <input th:field="*{image}" type="text" />
                    <p class="subtext">The image that will be displayed in seach results and on your menu.</p>
                </div>
                <br /><br />
                <a onclick="submitRestaurantInfo()" class="btn">Update Information</a>
            </form>
            </div>
        </div>
    </div>
    
</body>
</html>